.dashboard-content{
    display: flex;
    padding: 10px;
}

.users{
    width: 49%;
    border: 7px solid #b8c5df;
    border-radius: 5px;
}

.users:first-child{
    margin-right: 10px;
}
.users:nth-child(2){
    margin-left: 10px;
}

.heading{
    background: #cfe5f0;
    padding: 20px;
    border-bottom: 2px solid #b4b4ea;
}

.user-el{
    margin-top: 5px;
    background: #d2d7ef;
    padding: 10px;
}